.header{
  width: 100%;
  height: 100px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  width: 75%;
  min-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logoPhoto{
  height: 100%;
  width: 100%;
}
.name{
  z-index: 1;
  margin: -30%;
}
.searchBar{
}